<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#unless page.attributes.jupyterbook}}
<p>Author: <a href="mailto:{{page.attributes.email}}">{{page.attributes.author}}</a><br/>
Last updated: {{page.attributes.revdate}}</p>
{{/unless}}
{{{page.contents}}}
{{> pagination}}
<div class="page-feedback bottom">
  <span>Did this page help?</span>
  <i class="far fa-thumbs-up click-icon" name="feedback-icon" onclick="toggleFeedbackWidgets(this)"></i>
  <i class="far fa-thumbs-down click-icon" name="feedback-icon" onclick="toggleFeedbackWidgets(this)"></i>
</div>
</article>
