<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
<p>Author: <a href="mailto:{{page.attributes.email}}">{{page.attributes.author}}</a><br/>
Last updated: {{page.attributes.revdate}}</p>
{{{page.contents}}}
{{> pagination}}
</article>
