<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
Author: {{page.attributes.author}} &lt;<a href="mailto:{{page.attributes.email}}">{{page.attributes.email}}</a>&gt;<br/>
Last updated: {{page.attributes.revdate}}
{{{page.contents}}}
{{> pagination}}
</article>
