<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7Q6CLV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header" role="banner">
  <nav class="navbar">

    <section class="navbar-top">
      <div class="navbar-logo">
        <a href="https://www.teradata.com/">
          <img class="" width="103" height="20" src='{{uiRootPath}}/img/TD-Logo.svg' alt="down arrow" title="Teradata Getting Started">
        </a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" href="https://developer.teradata.com/">Developers</a>
      </div>

      <button class="header-nav-mobile__menu-icon" role="button" aria-label="Click or Press enter to open menu" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </section>

    <section class="navbar-menu">
      <div class="header-nav-mobile__menu">
        <ul>
          <li class="header-nav-mobile__menu-item">
            <header class="header-nav-mobile__menu-item__header">
              <a href="{{siteRootPath}}/index.html">Getting Started</a>
            </header>
          </li>
          <li class="header-nav-mobile__menu-item has-sub-items">
            <header class="header-nav-mobile__menu-item__header i-alignment">
              <a href="https://docs.teradata.com/">Docs</a>
              <img class="navbar-arrow" src='{{uiRootPath}}/img/icons/arrow_drop_down.svg' alt="down arrow" title="Docs">
            </header>
            <div>
              <div class="header-nav-mobile__menu-item__links">
                <ul class="ul-color">
                  <li><a href="https://docs.teradata.com/p/VantageCloud/Lake" class="dropdown-item">VantageCloud Lake Documentation</a></li>
                  <li><a href="https://docs.teradata.com/" class="dropdown-item">All Documentation</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="header-nav-mobile__menu-item">
            <header class="header-nav-mobile__menu-item__header">
              <a href="https://downloads.teradata.com/">Downloads</a>
            </header>
          </li>
          <li class="header-nav-mobile__menu-item has-sub-items">
            <header class="header-nav-mobile__menu-item__header i-alignment">
              <a href="https://support.teradata.com/community ">Community</a>
              <img class="navbar-arrow" src='{{uiRootPath}}/img/icons/arrow_drop_down.svg' alt="down arrow" title="Community">
            </header>
            <div>
              <div class="header-nav-mobile__menu-item__links">
                <ul class="ul-color">
                  <li>
                    <a href="https://support.teradata.com/community?_gl=1*1uhhzsp*_ga*MTU2NjYwMTU5OC4xNjYxNDc0NDcz*_ga_7PE2TMW3FE*MTY3NDI0NDY1Mi4zNS4wLjE2NzQyNDQ2NTUuMC4wLjA." class="dropdown-item">Teradata Community</a>
                  </li>
                  <li>
                    <a href="https://medium.com/teradata" title="Technical Medium Blogs" target="_blank" class="dropdown-item">Technical Medium Blogs
                      <img src='{{uiRootPath}}/img/icons/external-symbol.svg' class="ext-symbol">
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Teradata" title="Teradata on GitHub" target="_blank" class="dropdown-item">GitHub
                      <img src='{{uiRootPath}}/img/icons/external-symbol.svg' class="ext-symbol">
                    </a>
                  </li>
                  <li>
                    <a href="https://stackoverflow.com/questions/tagged/teradata" title="Stack Overflow Teradata questions" target="_blank" class="dropdown-item">Stack Overflow
                      <img src='{{uiRootPath}}/img/icons/external-symbol.svg' class="ext-symbol">
                    </a>
                  </li>               
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="navbar-search">
      {{#if env.SITE_SEARCH_PROVIDER}}
      {{#if (ne page.layout "landing-page")}}
      <div class="navbar-item">
        <input id="search-input" type="text" placeholder="Search Getting Started">
      </div>
      {{/if}}
      {{/if}}
    </section>
  </nav>
  <div class="page-blackout" tabindex="-1" aria-hidden="true"></div>
</header>
