<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">Getting Started</div>
            <div class="short-description">Get quickly up to speed with Teradata Vantage. Learn about features. Find how-to's for common tasks. Explore sample source code.</div>
            <div class="button-container"><a class="call-to-action-button" href="#getting-access-to-vantage">Get access to Vantage</a><a class="call-to-action-button-secondary" href="#browse-content">Browse content</a></div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Search Getting Started">
        </div>
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="getting-access-to-vantage">Getting access to Teradata Vantage</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title"><a href="getting.started.vmware.html">Vantage Express on VMWare</a></div>
                <div class="tile-content">Learn how to install Vantage Express on your machine for development and testing.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
              <div class="tile">
                  <div class="tile-title"><a href="getting.started.vbox.html">Vantage Express on VirtualBox</a></div>
                  <div class="tile-content">Run Vantage Express on your local machine with VirtualBox.</div>
                  <div class="tile-tags">
                    <div class="tag">Access Vantage</div>
                  </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="getting.started.utm.html">Vantage Express on UTM</a></div>
                <div class="tile-content">Run Vantage Express on your Mac with UTM. Apple chipset supported.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="vantage.express.gcp.html">Vantage Express on GCP</a></div>
                <div class="tile-content">Run Vantage Express in the cloud on GCP.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
            </div>
            <div class="tile-section-title" id="browse-content">Tutorials</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title"><a href="nos.html">Query data in object storage</a></div>
                <div class="tile-content">Learn how to analyze data stored in object storage using SQL.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorial</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="ml.html">Train ML models using only SQL</a></div>
                <div class="tile-content">Build machine learning models using only SQL - no coding and no data movement required.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorial</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="dbt.html">Use dbt with Teradata Vantage</a></div>
                <div class="tile-content">Learn how to use dbt, a leading ELT tool, with Teradata Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorial</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="sto.html">Run scripts on Vantage</a></div>
                <div class="tile-content">Bring logic to your data. Leverage Teradata's scale to worith with data using applications and scripts.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorial</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="fastload.html">Run large bulkloads efficiently</a></div>
                <div class="tile-content">Explore tools for loading massive amounts of data into Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorial</div>
                </div>
              </div>
            </div>
            <div class="tile-section-title">How-Tos</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title"><a href="jdbc.html">Connect to Vantage using JDBC</a></div>
                <div class="tile-content">Explore sample Java application that retrieves data from Vantage using JDBC.</div>
                <div class="tile-tags">
                  <div class="tag">How-To</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="jupyter.html">Use Vantage from a Jupyter notebook</a></div>
                <div class="tile-content">Use Jupyter notebooks to do data science on Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">How-To</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="local.jupyter.hub.html">Deploy Teradata Jupyter extensions to JupyterHub</a></div>
                <div class="tile-content">Follow instructions to deploy Teradata Jupyter extensions in your own JupyterHub instance.</div>
                <div class="tile-tags">
                  <div class="tag">How-To</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="mule.jdbc.example.html">Query Teradata Vantage from a Mulesoft service</a></div>
                <div class="tile-content">This how-to demonstrates how to run queries on Vantage using a REST service built on Mulesoft.</div>
                <div class="tile-tags">
                  <div class="tag">How-To</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="odbc.ubuntu.html">Configure ODBC on Ubuntu</a></div>
                <div class="tile-content">Follow step-by-step instructions to get a working Vantage ODBC configuration on Ubuntu.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="segment.html">Store events from Twilio Segment</a></div>
                <div class="tile-content">Clone and run a sample project that listens to Twilio Segment events and stores them in Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="sagemaker-with-teradata-vantage.html">Use AWS SageMaker with Vantage</a></div>
                <div class="tile-content">In this detailed how-to you will learn how to export data from Vantage to train a model in AWS SageMaker.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
            </div>
            <div class="tile-section-title">Sample source code</div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <div class="tile-title"><a href="https://github.com/Teradata/mule-jdbc-example">A Mulesoft service that queries Taradata Vantage</a></div>
                <div class="tile-content">A Mulesoft-based REST API that uses the HTTP listener, DB Configuration, and DB Select components to query Teradata Vantage.</div>
                <div class="tile-icons">
                  <img src="{{uiRootPath}}/img/java.logo.svg" />
                  <img src="{{uiRootPath}}/img/mulesoft.logo.svg" />
                  <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                </div>
                <div class="tile-action">
                  <a href="https://github.com/Teradata/mule-jdbc-example">view</a>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="https://github.com/Teradata/segment-integration-tutorial">Store events from Twilio Segment</a></div>
                <div class="tile-content">A Javascript application that runs on GCP Cloud Run. It listens to GCP Pub/Sub events coming from Twilio Segment and stores them in Teradata Vantage.</div>
                <div class="tile-icons">
                  <img src="{{uiRootPath}}/img/nodejs.logo.svg" />
                  <img src="{{uiRootPath}}/img/twilio.logo.svg" />
                  <img src="{{uiRootPath}}/img/gcp.logo.svg" />
                  <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                </div>
                <div class="tile-action">
                  <a href="https://github.com/Teradata/segment-integration-tutorial">view</a>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title"><a href="https://github.com/Teradata/jdbc-sample-app">Connect to Teradata Vantage using JDBC</a></div>
                <div class="tile-content">A sample application that connects to Teradata Vantage using the Teradata JDBC driver.</div>
                <div class="tile-icons">
                  <img src="{{uiRootPath}}/img/java.logo.svg" />
                  <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                </div>
                <div class="tile-action">
                  <a href="https://github.com/Teradata/jdbc-sample-app">view</a>
                </div>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody><tr>
                <td class="icon">
                <i class="fa icon-question"></i>Didn’t find what you were looking for?
                </td>
                <td class="content">
                 Contribute or request a topic
                </td>
                <td class="question-action">
                  <a href="https://github.com/Teradata/quickstarts/issues">request</a>
                  <a href="https://github.com/Teradata/quickstarts">contribute</a>
                </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<style>


  .landing-container {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 1200px;
    width: 100%;
  }

  .landing {
    margin-top: 61px;
    top: 110px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
  }

  .call-to-action {
    background: rgba(133, 221, 220, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    min-height: 241px;
    background-image: url('{{uiRootPath}}/img/illustration.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    padding: 0px 10px 10px 0;
    margin-top: 48px;
  }

  .call-to-action-text {
    padding: 40px;
  }
  .call-to-action-text .header {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  .call-to-action-text .short-description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    width: 50%;
    padding-top: 4px;
  }

  .search-input-container {
    width: 100%;
    margin-top: 20px;
  }

  .search-input-container #search-input {
    width: 100%;
  }

  .tile-container {
    padding: 0px 14px 0px 14px;
    width: 100%;
    margin: auto;
  }

  .tile-container .title {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.87);
  }

  .tile-section {
  }

  .tile-section-title {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 24px;
    scroll-margin-top: 110px;
    scroll-snap-margin: 110px;
  }

  .tile {
    width: 370px;
    height: 188px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    position: relative;
  }

  .tile:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  }
  @media screen and (min-width: 580px) {
    .source-code .tile {
      width: 570px;
    }
  }

  .tile-section-container.source-code {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
    padding-top: 8px;
  }

  .tile a:hover {
    text-decoration: none;
  }

  .tile-title a:hover {
    color: #f3743f;
  }

  .tile-section-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    padding-top: 8px;
  }

  .tile-title a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
  }

  .tile-content {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
  }

  .tag {
    background: #E0E0E0;
    border-radius: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    width: fit-content;
  }

  .tile-tags {
    position: absolute;
    bottom: 16px;
  }

  .tile-action {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }

  .tile-action a {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #007373;
    border: 1px #007373 solid;
    border-radius: 8px;
    padding: 9px 8px;
  }

  .call-to-action-button {
    background: #007373;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.87);
    padding: 11px 12px;
    margin-right: 16px;
  }

  .button-container {
    margin-top: 25px;
  }

  .call-to-action-button:hover {
    text-decoration: none;
  }

  .call-to-action-button-secondary {
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    padding: 11px 12px;
    margin-top: 25px;
    background: #eaf2f2;

  }

  .call-to-action-button-secondary:hover {
    text-decoration: none;
  }

  .search-result-dropdown-menu {
    top: initial;
    right: initial;
    max-width: 60%;
  }

  .tile-container .doc {
    padding: 0px;
    margin: 0px;
  }

  .doc .admonitionblock.question.landing-page .icon {
    text-transform: initial;
  }

  .question-action {
    width: 280px;
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

  }

  .question-action a {
    color: rgba(0, 0, 0, 0.87);
    padding: 0px 20px;
  }

  .question-action a:hover {
    color: #f3743f;
    text-decoration: none;
  }

  .doc .admonitionblock.landing-page td.content {
    width: 80%;
  }

  div.tile-icons {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
  }
  .tile-icons img {
    height: 34px;
    width: 34px;
    margin: 0px 4px;
  }


</style>
