<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">スタートガイド</div>
            <div class="short-description">
              Teradata Vantage をすぐに使いこなすことができるように、機能について学習し、一般的なタスクの解決策を見つけ、サンプルコードを参照します。
            </div>
            <div class="button-container">
              <a class="call-to-action-button" href="#getting-access-to-vantage">
                ClearScape を試す
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.35002 11.9669L8.63335 11.2669L11.4334 8.46686H2.66669V7.46686H11.4334L8.61669 4.6502L9.33335 3.9502L13.35 7.96686L9.35002 11.9669Z" fill="white"/>
                </svg>
              </a>
              <a class="call-to-action-button-secondary" href="#browse-content">
                参照する
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"/>
                </svg>
              </a>
            </div>
            <div class="alternate-action">
               既存の顧客またはパートナーですか? <a href="https://teradata.com/University/Overview">Teradata University</a>のコースを探索してください。
            </div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="スタートガイドを検索">
        </div>
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="browse-content">チュートリアル</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="general/nos.html">
                  <div class="link">
                    <div class="tile-title">オブジェクト ストレージ内のデータをクエリーする</div>
                    <div class="tile-content">SQL を使用してオブジェクト ストレージ内に保存されたデータを分析する方法を学びます。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="ml.html">
                  <div class="link">
                    <div class="tile-title">SQL のみを使用して ML モデルをトレーニングする</div>
                    <div class="tile-content">SQL のみを使用して機械学習モデルを構築します。コーディングやデータの移動は必要ありません。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="dbt.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage で dbt を使用する</div>
                    <div class="tile-content">Teradata Vantage で主要な ELT ツールであるdbtを使用する方法を学びます。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="sto.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage でスクリプトを実行する</div>
                    <div class="tile-content">データにロジックを組み込みます。 Teradata のスケールを活用して、アプリケーションとスクリプトを使用してデータを操作します。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">
                  <div class="link">
                    <div class="tile-title">大規模なバルクロードを効率的に実行する</div>
                    <div class="tile-content">Teradata Vantageに大量のデータをロードするためのTeradata Parallel Transporterなどのツールを探索します。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="perform-time-series-analysis-using-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">時系列分析を実行する</div>
                    <div class="tile-content">Teradata Vantage で時系列分析を行う方法を学びます。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="create-parquet-files-in-object-storage.html">
                  <div class="link">
                    <div class="tile-title">オブジェクト ストレージに Parquet ファイルを作成する</div>
                    <div class="tile-content">Vantage からのデータが格納されたオブジェクト ストレージに Parquet ファイルを作成する方法を探索します。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-byom.html">
                  <div class="link">
                    <div class="tile-title">ModelOps - 初めてのBYOM モデルをインポートしてデプロイする</div>
                    <div class="tile-content">
                      Vantage で BYOM モデル タイプをインポートおよびデプロイして、運用化を加速し、デプロイメントを効率的に監視する方法を学びます。
                    </div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-git.html">
                  <div class="link">
                    <div class="tile-title">ModelOps -  初めての GIT モデルをインポートしてデプロイする</div>
                    <div class="tile-content">コード テンプレートを準備し、GIT モデル タイプを Vantage にデプロイして、運用化を加速し、デプロイメントを効率的に監視する方法を学びます。</div>
                    <div class="tile-tags">
                      <div class="tag">チュートリアル</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">ハウツー</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="jdbc.html">
                  <div class="link">
                    <div class="tile-title">JDBC を使用して Teradata Vantage に接続する</div>
                    <div class="tile-content">JDBC を使用して Teradata Vantage からデータを取得するサンプル Java アプリケーションを探索します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="jupyter.html">
                  <div class="link">
                    <div class="tile-title">Jupyter ノートブックから Teradata Vantage を使用する</div>
                    <div class="tile-content">Jupyter ノートブックを使用して、Teradata Vantage でデータ サイエンスを実行します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="local.jupyter.hub.html">
                  <div class="link">
                    <div class="tile-title">Teradata Jupyter 拡張機能を JupyterHub にデプロイする</div>
                    <div class="tile-content">手順に従って、Teradata Jupyter 拡張機能を独自の JupyterHub インスタンスにデプロイします。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">
                  <div class="link">
                    <div class="tile-title">Teradata Jupyter 拡張機能を Google Vertex AI と統合する</div>
                    <div class="tile-content">Vertex AI Workbench を使用して、Teradata Jupyter 拡張機能を備えた Jupyterlab ノートブックをホストします。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="mule.jdbc.example.html">
                  <div class="link">
                    <div class="tile-title">Mulesoft サービスから Teradata Vantage をクエリーする</div>
                    <div class="tile-content">このハウツーでは、Mulesoft 上に構築された REST サービスを使用して Teradata Vantage でクエリを実行する方法を示します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="odbc.ubuntu.html">
                  <div class="link">
                    <div class="tile-title">Ubuntu で ODBC を構成する</div>
                    <div class="tile-content">段階的な手順に従って、Ubuntu 上で動作する Teradata Vantage ODBC 構成を取得します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="segment.html">
                  <div class="link">
                    <div class="tile-title">Twilio セグメントからイベントを保存する</div>
                    <div class="tile-content">Twilio セグメント イベントをリッスンして Teradata Vantage に保存するサンプル プロジェクトを複製して実行します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/sagemaker-with-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage で AWS SageMaker を使用する</div>
                    <div class="tile-content">この詳細なハウツーでは、Teradata Vantage からデータをエクスポートして AWS SageMaker でモデルをトレーニングする方法を学びます。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">
                  <div class="link">
                    <div class="tile-title">Amazon AppFlow を使用して Teradata Vantage を Salesforce に統合する</div>
                    <div class="tile-content">Amazon AppFlow と S3 を使用して、Teradata Vantage と Salesforce の間でデータを複製します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/connect-azure-data-share-to-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Azure Data Share を Teradata Vantage に接続する</div>
                    <div class="tile-content">Azure Data Share を使用して Teradata Vantage でデータを共有します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage を Google Cloud Data Catalog と統合する。</div>
                    <div class="tile-content">Teradata Vantage から Google Cloud Data Catalog にメタデータを配置し、単一のツールでデータに関するデータを探索します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage と Azure Machine Learning Studio を使用する</div>
                    <div class="tile-content">Teradata Vantage に保存されているデータを使用して、Azure Machine Learning Studio で開発された機械学習モデルを強化します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="other-integrations/integrate-teradata-vantage-with-knime.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage を KNIME 分析プラットフォームと統合する。</div>
                    <div class="tile-content">KNIME Analytics Platform を使用して、Teradata Vantage のデータを分析します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="other-integrations/configure-a-teradata-vantage-connection-in-dbeaver.html">
                  <div class="link">
                    <div class="tile-title">DBeaver で Teradata Vantage 接続を構成する。</div>
                    <div class="tile-content">DBeaver SQL IDE を使用して、Teradata Vantage のデータを操作します。</div>
                    <div class="tile-tags">
                      <div class="tag">ハウツー</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>  
            <div class="tile-section-title">ソース コードのサンプル</div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <a href="https://github.com/Teradata/mule-jdbc-example">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage にクエリーを実行する Mulesoft サービス</div>
                    <div class="tile-content">
                      HTTPリスナー、DB Configuration、およびDB Selectコンポーネントを使用してTeradata Vantageにクエリーを実行するMulesoftベースのREST API。
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/mulesoft.logo.svg" alt="Mulesoft Logo" title="Mulesoft" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      表示
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/segment-integration-tutorial">
                  <div class="link">
                    <div class="tile-title">Twilio セグメントからのイベントを Teradata Vantage に保存するアプリ</div>
                    <div class="tile-content">
                      Google Cloud Run で実行する Javascript アプリケーション。Twilio セグメントからの Google Cloud Pub/Sub イベントをリッスンし、Teradata Vantage に保存します。
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/nodejs.logo.svg" alt="Nodejs Logo" title="Nodejs" width="" height=""/>
                      <img src="{{uiRootPath}}/img/twilio.logo.svg" alt="Twilio Logo" title="Twilio" width="" height=""/>
                      <img src="{{uiRootPath}}/img/gcp.logo.svg" alt="Google Cloud Logo" title="Google Cloud" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      表示
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/jdbc-sample-app">
                  <div class="link">
                    <div class="tile-title">JDBC を使用して Teradata Vantage に接続する Java アプリ</div>
                    <div class="tile-content">Teradata JDBC ドライバを使用して Teradata Vantage に接続するサンプル アプリケーション。</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      表示
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody>
                  <tr>
                    <td class="icon">
                      <img src="{{uiRootPath}}/img/icons/contribute-icon.svg" class="icon-color">
                      お探しのものは見つかりませんでしたか?
                    </td>
                    <td class="content">
                      トピックを投稿または要求します
                    </td>
                    <td class="question-action">
                      <a href="https://github.com/Teradata/quickstarts/issues">要求する</a>
                      <a href="https://github.com/Teradata/quickstarts">貢献する</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<style>
body {
  color: #00233c;
  font-family: Inter,sans-serif;
}

main.article {
  padding-bottom: 30px;
}
.call-to-action {
  margin-top: 20px;
}
@media screen and (max-width: 460px) { 
  .button-container {
    display: grid !important;
  }
}
@media screen and (max-width: 576px) {  
  /*
  .call-to-action .call-to-action-button,
  .call-to-action .call-to-action-button-secondary {
    width: 100%;
    height: auto;
  }*/
  .call-to-action {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 820px) {
  .call-to-action {
    background-image: none;
  }

  .call-to-action-text .short-description {
    width: 100%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: none;
  }

  .footer {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .call-to-action {
    background-image: url('{{uiRootPath}}/img/illustration.svg');
  }

  .call-to-action-text .short-description {
    width: 50%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: inherit;
  }

  .footer {
    display: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .call-to-action {
    margin-top: 48px;
  }
}

.landing-container {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 1220px;
  width: 100%;
  margin-top: 50px;
}

.landing {
  display: flex;
  width: 100%;
  justify-content: center;
}

.call-to-action {
  background-color: #F6F7FB;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
/*  width: 100%;
  height: 245px; */
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
  padding: 10px 10px 10px 10px;
}

.call-to-action-text {
  padding: 20px 30px 40px 30px;
}

.call-to-action-text .header {
  font-family: Inter,sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.call-to-action-text .short-description {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 4px;
}

.search-input-container {
  width: 100%;
  margin-top: 20px;
}

.search-input-container #search-input {
  font-family: Arial, helvetica, sans-serif;
  width: 100%;
}

.tile-container {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.tile-container .title {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-section-title {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 24px;
  scroll-margin-top: 110px;
  scroll-snap-margin: 110px;
}

.tile {
  min-height: 188px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
}

.tile:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tile .link {
  width: 100%;
  height: 100%;
  padding: 16px;
}

@media screen and (min-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  }
}

@media screen and (max-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.tile-section-container.source-code {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding-top: 8px;
}

.tile a:hover {
  text-decoration: none;
}

.tile-section-container {
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-top: 8px;
}

.tile-title,
.tile-tags {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-content {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16px;
  margin-bottom: 50px;
}

.tag {
  background: #E0E0E0;
  border-radius: 16px;
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  width: fit-content;
}

.tile-tags {
  position: absolute;
  bottom: 16px;
}

.tile-action {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #00233C;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.call-to-action-button{
  background: #00233C;
  border-radius: 12px;
  border: 1px solid #00233C;
  font-weight: 600;
  font-family: Inter;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding: 16px;
  height: 58px;
}

.button-container {
  margin-top: 15px;
  display: inline-flex;
  gap: 5px;
}

.call-to-action-button:hover {
  border-color: #ff5f02;
  background: #ff5f02;
  color: #fff;
  text-decoration: none;
}

.call-to-action-button-secondary {
  color: #00233C;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border-radius: 12px;
  border: 1px solid #00233C;
  padding: 16px; 
  height: 58px;
}

.call-to-action-button-secondary:hover {
  text-decoration: none;
  background-color: #dfdddd;
}
.search-result-dropdown-menu {
  top: initial;
  right: initial;
  max-width: 60%;
}

.tile-container .doc {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}

.doc .admonitionblock.question.landing-page .icon {
  text-transform: initial;
}

.question-action {
  width: 280px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.icon-color{
  position: absolute;
  top: 19px;
  left: 26px;
}

.question-action a {
  color: #00233C;
  padding: 0px 20px;
}

.question-action a:hover {
  color: #f3743f;
  text-decoration: none;
}

.doc .admonitionblock.landing-page td.content {
  width: 80%;
}

div.tile-icons {
  position: absolute;
  bottom: 24px;
  left: 16px;
  display: flex;
}

.tile-icons img {
  height: 34px;
  width: 34px;
  margin: 0px 8px 0px 0px;
}

.alternate-action {
  font-size: 14px;
  margin-top: 20px;
}

.alternate-action a {
  color: #3053F4;
}

.alternate-action a:hover {
  text-decoration: none;
}
</style>
<!DOCTYPE html>
<html lang="{{page.attributes.html_lang}}">