
<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header"><span id="header"></span></div>
            <div class="short-description">
              <span id="description"></span>
            </div>
            <div class="button-container">
              <a class="call-to-action-button" href="https://www.teradata.com/Getting-Started/Demos/ClearScape-Analytics" title="ClearScape Analytics">
                <span id="callToAaction1"></span>  
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.35002 11.9669L8.63335 11.2669L11.4334 8.46686H2.66669V7.46686H11.4334L8.61669 4.6502L9.33335 3.9502L13.35 7.96686L9.35002 11.9669Z" fill="white"/>
                </svg>
              </a>
              <a class="call-to-action-button-secondary" href="#browse-content" title="Explora Contenido" rel="nofollow">
                <span id="callToAaction2"></span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"/>
                </svg>
              </a>
            </div>
            <div class="alternate-action">
               <span id="alternateAction1"></span><a href="https://teradata.com/University/Overview" title="Teradata Cursos"><span id="alternateAction2"></span></a>
            </div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text">
        </div>
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="browse-content"><span id="sectionTitle1"></span></div>
            <!-- Turoriales -->
            <div class="tile-section-container" id="tileContainer"></div>
            <!-- Totoriales -->
            <div class="tile-section-title"><span id="sectionTitle2"></span></div>
            <!-- Guías -->
            <div class="tile-section-container">
              <div class="tile">
                <a href="" id="link10">
                  <div class="link">
                    <div class="tile-title"><span id="title10"></span></div>
                    <div class="tile-content"><span id="content10"></span></div>
                    <div class="tile-tags">
                      <div id="wait10" class="waiting"></div>
                      <div class="tag" id="tag10" style="display: block;"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link11">
                  <div class="link">
                    <div class="tile-title"><span id="title11"></span></div>
                    <div class="tile-content"><span id="content11"></span></div>
                    <div class="tile-tags">
                      <div class="tag" id="tag11"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link12">
                  <div class="link">
                    <div class="tile-title"><span id="title12"></span></div>
                    <div class="tile-content"><span id="content12"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag12"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link13">
                  <div class="link">
                    <div class="tile-title"><span id="title13"></span></div>
                    <div class="tile-content"><span id="content13"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag13"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link14">
                  <div class="link">
                    <div class="tile-title"><span id="title14"></span></div>
                    <div class="tile-content"><span id="content14"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag14"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link15">
                  <div class="link">
                    <div class="tile-title"><span id="title15"></span></div>
                    <div class="tile-content"><span id="content15"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag15"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link16">
                  <div class="link">
                    <div class="tile-title"><span id="title16"></span></div>
                    <div class="tile-content"><span id="content16"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag16"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link17">
                  <div class="link">
                    <div class="tile-title"><span id="title17"></span></div>
                    <div class="tile-content"><span id="content17"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag17"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link18">
                  <div class="link">
                    <div class="tile-title"><span id="title18"></span></div>
                    <div class="tile-content"><span id="content18"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag18"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link19">
                  <div class="link">
                    <div class="tile-title"><span id="title19"></span></div>
                    <div class="tile-content"><span id="content19"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag19"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link20">
                  <div class="link">
                    <div class="tile-title"><span id="title20"></span></div>
                    <div class="tile-content"><span id="content20"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag20"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link21">
                  <div class="link">
                    <div class="tile-title"><span id="title21"></span></div>
                    <div class="tile-content"><span id="content21"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag21"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link22">
                  <div class="link">
                    <div class="tile-title"><span id="title22"></span></div>
                    <div class="tile-content"><span id="content22"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag22"></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#" id="link23">
                  <div class="link">
                    <div class="tile-title"><span id="title23"></span></div>
                    <div class="tile-content"><span id="content23"></span></div>
                    <div class="tile-tags">
                      <div class="tag"><span id="tag23"></span></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>  
            <div class="tile-section-title">Muestras de codigo fuente<p>{{firstname}} {{lastname}}</p></div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <a href="https://github.com/Teradata/mule-jdbc-example">
                  <div class="link">
                    <div class="tile-title">Servicio de Mulesoft que realiza consultas a Teradata Vantage</div>
                    <div class="tile-content">
                      Una API REST basada en Mulesoft que utiliza los componentes de escucha HTTP, configuración de base de datos y selección de base de datos para consultar Teradata Vantage.
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/mulesoft.logo.svg" alt="Mulesoft Logo" title="Mulesoft" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ir
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/segment-integration-tutorial">
                  <div class="link">
                    <div class="tile-title">Aplicación que almacena eventos de Twilio Segment en Teradata Vantage</div>
                    <div class="tile-content">
                      Una aplicación JavaScript que se ejecuta en Google Cloud Run. Escucha los eventos de Google Cloud Pub/Sub que provienen de Twilio Segment y los almacena en Teradata Vantage.
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/nodejs.logo.svg" alt="Nodejs Logo" title="Nodejs" width="" height=""/>
                      <img src="{{uiRootPath}}/img/twilio.logo.svg" alt="Twilio Logo" title="Twilio" width="" height=""/>
                      <img src="{{uiRootPath}}/img/gcp.logo.svg" alt="Google Cloud Logo" title="Google Cloud" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ir
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/jdbc-sample-app">
                  <div class="link">
                    <div class="tile-title">Aplicación Java que se conecta a Teradata Vantage utilizando JDBC</div>
                    <div class="tile-content">Una aplicación de muestra que se conecta a Teradata Vantage utilizando el controlador JDBC de Teradata.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ir
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody>
                  <tr>
                    <td class="icon">
                      <img src="{{uiRootPath}}/img/icons/contribute-icon.svg" class="icon-color">
                      ¿No encontraste lo que buscabas?
                    </td>
                    <td class="content">
                      Contribuye o solicita un tema.
                    </td>
                    <td class="question-action">
                      <a href="https://github.com/Teradata/quickstarts/issues">Solicitud</a>
                      <a href="https://github.com/Teradata/quickstarts">Contribuye</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
 {
  "firstname": "Yehuda",
  "lastname": "Katz",
}

</script>
<script>
  // compile the template
  var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "rocks!" }));
</script>
<script>
  
  var tag10Element = document.getElementById('tag10');

  // Verificar si el elemento tiene texto
  if (!tag10Element.textContent.trim()) {
    // Si no tiene texto, establecer display en none
    tag10Element.style.display = 'none';
  }
  
  var numberOfTiles = 9;

  var tileContainer = document.getElementById("tileContainer");

  var tilesHTML = '';

  for (var i = 1; i <= numberOfTiles; i++) {
    var tileHTML = `
      <div class="tile">
        <a href="#" id="link${i}">
          <div class="link">
            <div class="tile-title"><span id="title${i}"></span></div>
            <div class="tile-content"><span id="content${i}"></span></div>
            <div class="tile-tags">
              <div class="tag"><span id="tag${i}"></span></div>
            </div>
          </div>
        </a>
      </div>
    `;

    tilesHTML += tileHTML;
  }

  tileContainer.innerHTML = tilesHTML;
</script>
<style>
  body {
    color: #00233c;
    font-family: Inter,sans-serif;
  }

  main.article {
    padding-bottom: 30px;
  }
@media screen and (max-width: 460px) { 
  .button-container {
    display: grid !important;
  }
}
@media screen and (max-width: 576px) {  
  /*
  .call-to-action .call-to-action-button,
  .call-to-action .call-to-action-button-secondary {
    width: 100%;
    height: auto;
  }*/
  .call-to-action {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 820px) {
  .call-to-action {
    background-image: none;
  }

  .call-to-action-text .short-description {
    width: 100%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: none;
  }

  .footer {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .call-to-action {
    background-image: url('{{uiRootPath}}/img/illustration.svg');
  }

  .call-to-action-text .short-description {
    width: 50%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: inherit;
  }

  .footer {
    display: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .call-to-action {
    margin-top: 48px;
  }
}

.landing-container {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 1220px;
  width: 100%;
  margin-top: 50px;
}

.landing {
  display: flex;
  width: 100%;
  justify-content: center;
}

.call-to-action {
  background-color: #F6F7FB;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
/*  width: 100%;
  height: 245px;*/
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
  padding: 10px 10px 10px 10px;
}

.call-to-action-text {
  padding: 20px 30px 40px 30px;
}

.call-to-action-text .header {
  font-family: Inter,sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.call-to-action-text .short-description {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 4px;
}

.search-input-container {
  width: 100%;
  margin-top: 20px;
}

.search-input-container #search-input {
  font-family: Inter,sans-serif;
  width: 100%;
}

.tile-container {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.tile-container .title {
  font-family: Inter,sans-serif;
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-section-title {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 24px;
  scroll-margin-top: 110px;
  scroll-snap-margin: 110px;
}

.tile {
  min-height: 188px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
}

.tile:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tile .link {
  width: 100%;
  height: 100%;
  padding: 16px;
}

@media screen and (min-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  }
}

@media screen and (max-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.tile-section-container.source-code {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding-top: 8px;
}

.tile a:hover {
  text-decoration: none;
}

.tile-section-container {
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-top: 8px;
}

.tile-title,
.tile-tags {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-content {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16px;
  margin-bottom: 50px;
}

.tag {
  background: #E0E0E0;
  border-radius: 16px;
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  width: fit-content;
}

.tile-tags {
  position: absolute;
  bottom: 16px;
}

.tile-action {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #00233C;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.call-to-action-button{
  background: #00233C;
  border-radius: 12px;
  border: 1px solid #00233C;
  font-weight: 600;
  font-family: Inter;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding: 16px;
  height: 58px;
}

.button-container {
  margin-top: 15px;
  display: inline-flex;
  gap: 5px;
}

.call-to-action-button:hover {
  border-color: #ff5f02;
  background: #ff5f02;
  color: #fff;
  text-decoration: none;
}

.call-to-action-button-secondary {
  color: #00233C;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border-radius: 12px;
  border: 1px solid #00233C;
  padding: 16px; 
  height: 58px;
}

.call-to-action-button-secondary:hover {
  text-decoration: none;
  background-color: #dfdddd;
}

.call-to-action-button-secondary svg {
  margin-left: 5px;
}
.search-result-dropdown-menu {
  top: initial;
  right: initial;
  max-width: 60%;
}

.tile-container .doc {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}

.doc .admonitionblock.question.landing-page .icon {
  text-transform: initial;
}

.question-action {
  width: 280px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.icon-color{
  position: absolute;
  top: 19px;
  left: 26px;
}
.question-action a {
  color: #00233C;
  padding: 0px 20px;
}

.question-action a:hover {
  color: #f3743f;
  text-decoration: none;
}

.doc .admonitionblock.landing-page td.content {
  width: 80%;
}

div.tile-icons {
  position: absolute;
  bottom: 24px;
  left: 16px;
  display: flex;
}

.tile-icons img {
  height: 34px;
  width: 34px;
  margin: 0px 8px 0px 0px;
}

.alternate-action {
  font-size: 14px;
  margin-top: 20px;
}

.alternate-action a {
  color: #3053F4;
}

.alternate-action a:hover {
  text-decoration: none;
}
</style>
<style>
    .waiting {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
  /*  margin:15px auto;*/
    margin-left: 20px; 
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }
</style>