<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
    
   
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Buscar">
        </div>
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="browse-content">Tutoriales</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="https://quickstarts.teradata.com/nos.html">
                  <div class="link">
                    <div class="tile-title">Consulta datos en almacenamiento de objetos</div>
                    <div class="tile-content">Aprende a analizar datos almacenados en almacenamiento de objetos usando SQL.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/ml.html">
                  <div class="link">
                    <div class="tile-title">Entrena modelos ML utilizando SQL</div>
                    <div class="tile-content">Desarrolla modelos de machine learning usando solo SQL, sin necesidad de programación ni de transladar datos.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/dbt.html">
                  <div class="link">
                    <div class="tile-title">Utiliza dbt con Teradata Vantage</div>
                    <div class="tile-content">Aprenda a utilizar dbt, una herramienta líder de ELT, con Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/sto.html">
                  <div class="link">
                    <div class="tile-title">"Ejecuta scripts en Teradata Vantage."</div>
                    <div class="tile-content">Añade lógica a tus datos. Aprovecha la capacidad y escalabilidad de Teradata para trabajar con datos a través de aplicaciones y scripts.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">
                  <div class="link">
                    <div class="tile-title">Realiza cargas masivas eficientemente</div>
                    <div class="tile-content">"Explora herramientas como Teradata Parallel Transporter para cargar cantidades masivas de datos en Teradata Vantage."</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/perform-time-series-analysis-using-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Realiza análisis de series temporales</div>
                    <div class="tile-content">Aprende a realizar análisis de series temporales en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/create-parquet-files-in-object-storage.html">
                  <div class="link">
                    <div class="tile-title">Crea archivos Parquet en el almacenamiento de objetos</div>
                    <div class="tile-content">Descubre cómo generar archivos Parquet en el almacenamiento de objetos, llenos de datos provenientes de Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-byom.html">
                  <div class="link">
                    <div class="tile-title">ModelOps: importa y despliega tu primer modelo BYOM</div>
                    <div class="tile-content">
                      Aprende a importar y desplegar un modelo BYOM (Bring Your Own Model) en Vantage para acelerar la puesta en marcha y supervisar eficientemente el despliegue.
                    </div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-git.html">
                  <div class="link">
                    <div class="tile-title">ModelOps: importa y despliega tu primer modelo GIT</div>
                    <div class="tile-content">
                      Aprende a preparar plantillas de código y desplegar un modelo GIT en Vantage para acelerar la puesta en marcha y supervisar eficientemente el despliegue.
                    </div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">Guía</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="https://quickstarts.teradata.com/jdbc.html">
                  <div class="link">
                    <div class="tile-title">Conexión a Teradata Vantage usando JDBC</div>
                    <div class="tile-content">Descubre cómo conectarte a Teradata Vantage utilizando una aplicación Java de muestra que utiliza JDBC.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/jupyter.html">
                  <div class="link">
                    <div class="tile-title">Utiliza Teradata Vantage desde Jupyter notebook</div>
                    <div class="tile-content">Aprende a utilizar Jupyter notebook para realizar ciencia de datos con Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/local.jupyter.hub.html">
                  <div class="link">
                    <div class="tile-title">Implementación de extensiones Teradata Jupyter en JupyterHub</div>
                    <div class="tile-content">Sigue las instrucciones para implementar extensiones Jupyter de Teradata en tu propia instancia de JupyterHub.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">
                  <div class="link">
                    <div class="tile-title">Integra Teradata Jupyter con Google Vertex AI</div>
                    <div class="tile-content">Utiliza Vertex AI Workbench para alojar Jupyterlab notebook con extensiones de Teradata Jupyter.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/mule.jdbc.example.html">
                  <div class="link">
                    <div class="tile-title">Consulta Teradata Vantage desde un servicio de Mulesoft</div>
                    <div class="tile-content">Este tutorial muestra cómo ejecutar consultas en Teradata Vantage utilizando un servicio REST creado en Mulesoft.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/odbc.ubuntu.html">
                  <div class="link">
                    <div class="tile-title">Configuración de ODBC en Ubuntu</div>
                    <div class="tile-content">Sigue instrucciones paso a paso para obtener una configuración de ODBC de Teradata Vantage funcional en Ubuntu.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/segment.html">
                  <div class="link">
                    <div class="tile-title">Almacenamiento de eventos de Twilio Segment</div>
                    <div class="tile-content">Clona y ejecuta un proyecto de muestra que escucha los eventos de Twilio Segment y los almacena en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/sagemaker-with-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Uso de AWS SageMaker con Teradata Vantage</div>
                    <div class="tile-content">En este detallado tutorial aprenderás a exportar datos desde Teradata Vantage para entrenar un modelo en AWS SageMaker.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">
                  <div class="link">
                    <div class="tile-title">Integración de Teradata Vantage con Salesforce mediante Amazon AppFlow</div>
                    <div class="tile-content">Replica datos entre Teradata Vantage y Salesforce utilizando Amazon AppFlow y S3.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/connect-azure-data-share-to-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Conexión de Azure Data Share a Teradata Vantage</div>
                    <div class="tile-content">Comparte datos en Teradata Vantage utilizando Azure Data Share.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">
                  <div class="link">
                    <div class="tile-title">Integración de Teradata Vantage con Google Cloud Data Catalog</div>
                    <div class="tile-content">Transfiere tus metadatos de Teradata Vantage a Google Cloud Data Catalog y explora datos sobre datos en una única herramienta.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">
                  <div class="link">
                    <div class="tile-title">Uso de Teradata Vantage con Azure Machine Learning Studio</div>
                    <div class="tile-content">Utiliza datos almacenados en Teradata Vantage para alimentar un modelo de aprendizaje automático desarrollado en Azure Machine Learning Studio.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/other-integrations/integrate-teradata-vantage-with-knime.html">
                  <div class="link">
                    <div class="tile-title">Integración de Teradata Vantage con KNIME Analytics Platform</div>
                    <div class="tile-content">Utiliza KNIME Analytics Platform para analizar datos en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://quickstarts.teradata.com/other-integrations/configure-a-teradata-vantage-connection-in-dbeaver.html">
                  <div class="link">
                    <div class="tile-title">Configuración de una conexión a Teradata Vantage en DBeaver</div>
                    <div class="tile-content">Utiliza DBeaver SQL IDE para trabajar con datos en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Guías</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>  
            <div class="tile-section-title">Muestras de codigo fuente</div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <a href="https://github.com/Teradata/mule-jdbc-example">
                  <div class="link">
                    <div class="tile-title">Servicio de Mulesoft que realiza consultas a Teradata Vantage</div>
                    <div class="tile-content">
                      Una API REST basada en Mulesoft que utiliza los componentes de escucha HTTP, configuración de base de datos y selección de base de datos para consultar Teradata Vantage.
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/mulesoft.logo.svg" alt="Mulesoft Logo" title="Mulesoft" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ver
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/segment-integration-tutorial">
                  <div class="link">
                    <div class="tile-title">Aplicación que almacena eventos de Twilio Segment en Teradata Vantage</div>
                    <div class="tile-content">
                      Una aplicación JavaScript que se ejecuta en Google Cloud Run. Escucha los eventos de Google Cloud Pub/Sub que provienen de Twilio Segment y los almacena en Teradata Vantage.
                    </div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/nodejs.logo.svg" alt="Nodejs Logo" title="Nodejs" width="" height=""/>
                      <img src="{{uiRootPath}}/img/twilio.logo.svg" alt="Twilio Logo" title="Twilio" width="" height=""/>
                      <img src="{{uiRootPath}}/img/gcp.logo.svg" alt="Google Cloud Logo" title="Google Cloud" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ver
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/jdbc-sample-app">
                  <div class="link">
                    <div class="tile-title">Aplicación Java que se conecta a Teradata Vantage mediante JDBC</div>
                    <div class="tile-content">Una aplicación de muestra que se conecta a Teradata Vantage utilizando el controlador JDBC de Teradata.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      Ver
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody>
                  <tr>
                    <td class="icon">
                      <img src="{{uiRootPath}}/img/icons/contribute-icon.svg" alt="question" aria-label="question" class="icon-color">
                      ¿No encuentras lo que buscas?
                    </td>
                    <td class="content">
                      Contribuye o solicita un tema.
                    </td>
                    <td class="question-action">
                      <a href="https://github.com/Teradata/quickstarts/issues">Solicitar</a>
                      <a href="https://github.com/Teradata/quickstarts">Contribuir</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
