
<!--<div class="body">-->
  <main class="article" id="home">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">Getting Started</div>
            <div class="short-description">
              Get up to speed with Teradata Vantage. Learn about its features. Find solutions for common tasks. Explore sample source code.
            </div>
            <div class="button-container">
              <a class="call-to-action-button arrow" href="https://www.teradata.com/Getting-Started/Demos/ClearScape-Analytics" target="_blank" title="ClearScape Analytics">
                Try ClearScape
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.35002 11.9669L8.63335 11.2669L11.4334 8.46686H2.66669V7.46686H11.4334L8.61669 4.6502L9.33335 3.9502L13.35 7.96686L9.35002 11.9669Z" fill="white"/>
                </svg>
              </a>
              <a class="call-to-action-button-secondary" href="#browse-content" title="Browse Content" rel="nofollow">
                Browse
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"/>
                </svg>
              </a>
            </div>
            <div class="alternate-action">
              Existing customer or partner? Explore courses at <a href="https://teradata.com/University/Overview">Teradata University</a>.
            </div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Search Getting Started">
        </div>
        <!--Posible Banner-->
        {{> possible-banner }}
        <!--Posible Banner-->
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="browse-content">Tutorials</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="nos.html">
                  <div class="link">
                    <div class="tile-title">Query data in object storage</div>
                    <div class="tile-content">Learn how to analyze data stored in object storage using SQL.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="ml.html">
                  <div class="link">
                    <div class="tile-title">Train ML models using only SQL</div>
                    <div class="tile-content">Build machine learning models using only SQL - no coding and no data movement required.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="dbt.html">
                  <div class="link">
                    <div class="tile-title">Use dbt with Teradata Vantage</div>
                    <div class="tile-content">Learn how to use dbt, a leading ELT tool, with Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="sto.html">
                  <div class="link">
                    <div class="tile-title">Run scripts on Teradata Vantage</div>
                    <div class="tile-content">Bring logic to your data. Leverage Teradata's scale to work with data using applications and scripts.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">
                  <div class="link">
                    <div class="tile-title">Run large bulkloads efficiently</div>
                    <div class="tile-content">Explore tools like Teradata Parallel Transporter for loading massive amounts of data into Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="perform-time-series-analysis-using-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Perform time series analysis</div>
                    <div class="tile-content">Learn how to do time series analysis on Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="create-parquet-files-in-object-storage.html">
                  <div class="link">
                    <div class="tile-title">Create Parquet files in object storage</div>
                    <div class="tile-content">Explore how to create Parquet files in object storage populated with data from Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-byom.html">
                  <div class="link">
                    <div class="tile-title">ModelOps - Import and Deploy your first BYOM Model</div>
                    <div class="tile-content">Learn how to import and deploy a BYOM model type in Vantage to accelerate the operationalization and monitor efficiently the deployment.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-git.html">
                  <div class="link">
                    <div class="tile-title">ModelOps - Import and Deploy your first GIT Model</div>
                    <div class="tile-content">Learn how to prepare code templates and deploy a GIT model type in Vantage to accelerate the operationalization and monitor efficiently the deployment.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutorial</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">How-tos</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="jdbc.html">
                  <div class="link">
                    <div class="tile-title">Connect to Teradata Vantage using JDBC</div>
                    <div class="tile-content">Explore sample Java application that retrieves data from Teradata Vantage using JDBC.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="jupyter.html">
                  <div class="link">
                    <div class="tile-title">Use Teradata Vantage from a Jupyter notebook</div>
                    <div class="tile-content">Use Jupyter notebooks to do data science on Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="local.jupyter.hub.html">
                  <div class="link">
                    <div class="tile-title">Deploy Teradata Jupyter extensions to JupyterHub</div>
                    <div class="tile-content">Follow instructions to deploy Teradata Jupyter extensions in your own JupyterHub instance.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Jupyter extensions with Google Vertex AI</div>
                    <div class="tile-content">Use Vertex AI Workbench to host a Jupyterlab notebook with Teradata Jupyter extensions.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="mule.jdbc.example.html">
                  <div class="link">
                    <div class="tile-title">Query Teradata Vantage from a Mulesoft service</div>
                    <div class="tile-content">This how-to demonstrates how to run queries on Teradata Vantage using a REST service built on Mulesoft.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="odbc.ubuntu.html">
                  <div class="link">
                    <div class="tile-title">Configure ODBC on Ubuntu</div>
                    <div class="tile-content">Follow step-by-step instructions to get a working Teradata Vantage ODBC configuration on Ubuntu.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="segment.html">
                  <div class="link">
                    <div class="tile-title">Store events from Twilio Segment</div>
                    <div class="tile-content">Clone and run a sample project that listens to Twilio Segment events and stores them in Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/sagemaker-with-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Use AWS SageMaker with Teradata Vantage</div>
                    <div class="tile-content">In this detailed how-to you will learn how to export data from Teradata Vantage to train a model in AWS SageMaker.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage to Salesforce using Amazon AppFlow</div>
                    <div class="tile-content">Replicate data between Teradata Vantage and Salesforce using Amazon AppFlow and S3.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/connect-azure-data-share-to-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Connect Azure Data Share to Teradata Vantage</div>
                    <div class="tile-content">Share data in Teradata Vantage using Azure Data Share.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage with Google Cloud Data Catalog.</div>
                    <div class="tile-content">Put your metadata from Teradata Vantage to Google Cloud Data Catalog and explore data about data in a single tool.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">
                  <div class="link">
                    <div class="tile-title">Use Teradata Vantage with Azure Machine Learning Studio.</div>
                    <div class="tile-content">Use data stored in Teradata Vantage to power a machine learning model developed in Azure Machine Learning Studio.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="other-integrations/integrate-teradata-vantage-with-knime.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage with KNIME Analytics Platform.</div>
                    <div class="tile-content">Use KNIME Analytics Platform to analyze data in Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="other-integrations/configure-a-teradata-vantage-connection-in-dbeaver.html">
                  <div class="link">
                    <div class="tile-title">Configure a Teradata Vantage connection in DBeaver.</div>
                    <div class="tile-content">Use DBeaver SQL IDE to work with data in Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">Sample source code</div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <a href="https://github.com/Teradata/mule-jdbc-example">
                  <div class="link">
                    <div class="tile-title">Mulesoft service that queries Taradata Teradata Vantage</div>
                    <div class="tile-content">A Mulesoft-based REST API that uses the HTTP listener, DB Configuration, and DB Select components to query Teradata Vantage.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/mulesoft.logo.svg" alt="Mulesoft Logo" title="Mulesoft" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      View
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/segment-integration-tutorial">
                  <div class="link">
                    <div class="tile-title">App that stores events from Twilio Segment in Teradata Vantage</div>
                    <div class="tile-content">A Javascript application that runs on Google Cloud Run. It listens to Google Cloud Pub/Sub events coming from Twilio Segment and stores them in Teradata Vantage.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/nodejs.logo.svg" alt="Nodejs Logo" title="Nodejs" width="" height=""/>
                      <img src="{{uiRootPath}}/img/twilio.logo.svg" alt="Twilio Logo" title="Twilio" width="" height=""/>
                      <img src="{{uiRootPath}}/img/gcp.logo.svg" alt="Google Cloud Logo" title="Google Cloud" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      View
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/jdbc-sample-app">
                  <div class="link">
                    <div class="tile-title">Java app that connects to Teradata Vantage using JDBC</div>
                    <div class="tile-content">A sample application that connects to Teradata Vantage using the Teradata JDBC driver.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" alt="Java Logo" title="Java" width="" height=""/>
                      <img src="{{uiRootPath}}/img/teradata-logo.png" alt="Teradata Logo" title="Teradata" width="" height=""/>
                    </div>
                    <div class="tile-action">
                      View
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody>
                  <tr>
                    <td class="icon">
                      <img src="{{uiRootPath}}/img/icons/contribute-icon.svg" alt="Question" aria-label="Question" class="icon-color">
                      Didn’t find what you were looking for?
                    </td>
                    <td class="content">
                      Contribute or request a topic
                    </td>
                    <td class="question-action">
                      <a href="https://github.com/Teradata/quickstarts/issues">Request</a>
                      <a href="https://github.com/Teradata/quickstarts">Contribute</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<!--</div>-->
