<!-- New Navbar -->
      <nav>
        <div class="header-nav-wrapper">
          <section class="header-utility nav-3 background-grayLight color-navy d-none d-xl-flex">
            <div class="container-wide d-flex align-items-center">
              <div class="header-utility__right d-flex">
                <ul class="header-utility__nav me-4 list">
                  <li>
                    <a href="https://teradata.com" target="_blank" class="tcom">Teradata.com</a>
                  </li>
                </ul>
                <div class="td-language-selector dropdown1">
                  <button onclick="langOptions()" class="td-language-selector__toggle selected">
                    Global 
                  </button>
                  <div id="myDropdown" class="nav-2 td-language-selector__dropdown dropdown-content1">
                    <li lang="en-US" class="td-language-selector__menu-item" onclick="switchLanguage('en')">
                      <a href="#" class="td-language-selector__location no-underline">Global</a>
                    </li>
                    <li lang="ja-JP" class="td-language-selector__menu-item" onclick="switchLanguage('ja')">
                      <a href="#" class="td-language-selector__location no-underline">日本</a>
                    </li>
                    <li lang="es-MX" class="td-language-selector__menu-item" onclick="switchLanguage('es')">
                      <a href="#" class="td-language-selector__location no-underline active-lan">Español</a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="site-header">
            <header class="header-nav">
              <div class="container-wide">
                <div class="row">
                  <nav class="col d-flex justify-content-between align-items-center">
                    <div class="header-nav__element d-flex">
                      <a class="header-nav__logo" href="https://www.teradata.com/" target="_blank">     
                        <div class="logo">
                          <svg class="teradata-logo" viewBox="0 0 107 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#teradata-logo"></use>
                          </svg>
                        </div>
                      </a>
                      <a href="https://developers.teradata.com" class="dev">
                        <div>Developers</div>
                      </a>
                    </div>
                    <ul class="header-nav__main-menu header-nav__element nav-1 list">
                      <li>
                        <a href="{{siteRootPath}}/index.html" class="header-nav__main-menu__link active">Empezar</a>
                      </li>
                      <li>
                        <button href="" onclick="docs()" class="header-nav__main-menu__link dropbtn">Docs</button>
                        <div id="myDocsDropdown" class="dropdown-content">
                          <a href="https://docs.teradata.com/p/VantageCloud/Lake" class="dropdown-item mt">Documentacion VantageCloud Lake</a>
                          <a href="https://developers.teradata.com/ai-unlimited/" class="dropdown-item">AI Unlimited</a>
                          <a href="https://docs.teradata.com/" class="dropdown-item">Documentacion</a> 
                        </div>  
                      </li>
                      <li>
                        <a href="https://downloads.teradata.com/" class="header-nav__main-menu__link">Descargas</a>
                      </li>
                      <li>
                        <button href="" onclick="community()" class="header-nav__main-menu__link dropbtn">Comunidad</button>
                        <div id="myCommunityDropdown" class="dropdown-content dc2">
                          <a href="https://support.teradata.com" title="Technical Medium Blogs" class="dropdown-item mt">Comunidad Teradata</a>
                          <a href="https://medium.com/teradata" title="Technical Medium Blogs" target="_blank" class="dropdown-item mb">Blogs Tecnicos Medium&nbsp; &nbsp; 
                            <img src='{{uiRootPath}}/img/small-external.svg' alt="External Icon">
                          </a>
                          <a href="https://github.com/Teradata" title="Teradata on GitHub" target="_blank" class="dropdown-item mb">GitHub&nbsp; &nbsp; 
                            <img src='{{uiRootPath}}/img/small-external.svg' alt="External Icon">
                          </a>
                          <a href="https://stackoverflow.com/questions/tagged/teradata" title="Stack Overflow Teradata questions" target="_blank" class="dropdown-item">Stack Overflow&nbsp; &nbsp; 
                            <img src='{{uiRootPath}}/img/small-external.svg' alt="External Icon">
                          </a>  
                        </div>
                      </li>
                    </ul>  
                    <div class="head-nav__alt-menu-wrapper header-nav__element">
                      <ul class="header-nav__alt-menu d-flex justify-content-end list">
                      <li class="button-free-demo">
                          <a class="call-to-action-button-secondary" href="https://www.teradata.com/getting-started/demos/clearscape-analytics" target="_blank" title="Browse Content" rel="nofollow">
                            Empieza gratis
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"/>
                            </svg>
                          </a>  
                        </li>
                        <li>
                          <section class="navbar-search" id="searchtextbox"> 
                            {{#if env.SITE_SEARCH_PROVIDER}}
                            {{#if (ne page.layout "landing-page")}}
                            <div class="navbar-item">
                              <div class="search-container">
                                <input id="search-input" type="text" placeholder="Busqueda">
                              </div>
                            </div>
                            {{/if}}
                            {{/if}}
                          </section>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </header>
            <header class="header-nav-mobile">
              <nav class="d-flex custom-justify-content-between align-items-center px-6 shadow--s">
                  <a class="header-nav__logo d-flex align-items-center" href="/" aria-label="Teradata">
                      <div>
                          <img class="teradata-logo" src='{{uiRootPath}}/img/TD-Logo.svg' alt="" title="" >
                      </div>
                  </a>
                  <a href="http://developers.teradata.com/" class="developers">Developers</a>
                  <ul class="header-nav-mobile__top-links list">
                      <li>
                          <button id="showMenu" role="button" aria-label="Click or Press enter to open menu" tabindex="0" class="header-nav-mobile__menu-icon">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                          </button>
                      </li>
                  </ul>
              </nav>
              <section id="vue-mobile-slide">
                <div class="header-nav-mobile__menu-search" style="display: none;">
                  <div class="header-nav-mobile__menu-search__input">
                    <input type="text" id="search-mobile-input" placeholder="What can we help you find?" enterkeyhint="search">
                    <button class="d-flex align-items-center justify-content-center" data-celebrus="Header - Search Mobile (Display Only)" data-gtm-action="search click">
                      <span class="material-symbols-outlined md-24">search</span>
                    </button>
                  </div>
                </div>
                <!--Start Responsive NavBar-->
                <section class="header-nav-mobile__menu-listing display-menu sidenav">
                  <ul class="container-wide header-nav-mobile__menu-listing-ul list">
                    <li class="header-nav-mobile__menu-listing__item has-sub-items">
                      <header data-celebrus="Mobile Main Menu - Who we help" data-gtm-category="Header" data-gtm-action="main nav click" data-gtm-label="Who we help" class="d-flex justify-content-between align-items-center border-bottom-light">
                        <div class="header-nav-mobile__menu-listing__header nav-1">
                          <a class="nav-1 d-flex justify-content-between align-items-center" href="https://quickstarts.teradata.com/es">Empezar</a>
                        </div>
                      </header>
                    </li>

                    <li class="border-bottom-light">
                      <div>
                        <button id="toggleButtonDocs" class="py-4 nav-1 d-flex justify-content-between align-items-center w-100">Docs
                          <span class="caret caret--slate"></span>
                        </button>
                        <div class="slide-up-down__container hidden" style="--content-height: 94; transition: height 500ms ease-in-out 0s;">  
                          <ul class="ps-3 list">
                            <li>
                              <a class="nav-2 py-4 d-block color-slate" href="https://docs.teradata.com/p/VantageCloud/Lake">Documentacion VantageCloud Lake</a>
                            </li>
                            <li>
                              <a class="nav-2 py-4 d-block color-slate" href="https://developers.teradata.com/ai-unlimited/">AI Unlimited</a>
                            </li>
                            <li>
                              <a class="nav-2 py-4 d-block color-slate" href="https://docs.teradata.com/">Documentacion</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li class="header-nav-mobile__menu-listing__item has-sub-items">
                      <header class="d-flex justify-content-between align-items-center border-bottom-light">
                        <div class="header-nav-mobile__menu-listing__header nav-1">
                          <a class="nav-1 d-flex justify-content-between align-items-center" href="https://downloads.teradata.com/">Descargas</a>
                        </div>
                      </header>
                    </li>
                    <li class="border-bottom-light">
                      <div>
                        <button id="toggleButtonComm" class="py-4 nav-1 d-flex justify-content-between align-items-center w-100">
                          <span class="caret caret--slate"></span>
                        </button>
                        <div class="slide-up-down__container hidden" aria-hidden="false" style="--content-height: 235; transition: height 500ms ease-in-out 0s;">
                          <ul class="ps-3 list">
                            <li>
                              <a class="nav-2 py-4 d-block color-slate" href="https://support.teradata.com">Comunidad Teradata</a>
                            </li>
                            <li>
                              <a class="nav-2 py-4 d-flex align-items-center color-slate" href="https://medium.com/teradata">
                                Blogs Tecnicos Medium&nbsp;&nbsp;<img src='{{uiRootPath}}/img/small-external.svg' class="mtop">
                              </a>
                            </li>
                            <li>
                              <a class="nav-2 py-4 d-flex color-slate" href="https://github.com/Teradata" target="_blank" rel="noopener">
                                GitHub&nbsp;&nbsp;<img src='{{uiRootPath}}/img/small-external.svg' class="e">
                              </a>
                            </li>
                            <li>
                              <a class="nav-2 py-4 d-flex color-slate" href="https://stackoverflow.com/questions/tagged/teradata" target="_blank" rel="noopener">
                                Stack Overflow&nbsp;&nbsp;<img src='{{uiRootPath}}/img/small-external.svg' class="">
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <footer>
                    <div class="container-wide header-nav-mobile__menu-listing-ul" style="padding: 14px 16px;">
                     <a class="call-to-action-button-secondary" href="https://www.teradata.com/getting-started/demos/clearscape-analytics" target="_blank" title="Browse Content" rel="nofollow">
                      Empieza gratis
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"></path>
                      </svg>
                     </a>  
                    </div>
                    <div class="header-nav-mobile__sub-menu background-grayLight mt-6 py-6 container-wide">
                      <ul class="row list">
                        <li class="col-6">
                          <a class="nav-1" href="https://teradata.com" target="_blank" rel="noopener">Teradata.com</a>
                        </li>
                      </ul>
                    </div>
                  </footer>
                </section>
              </section>
            </header>
             <div class="page-blackout"></div>
          </section>
        </div>
      </nav>
  </nav>